{% extends "base.html.twig" %}
{% block title %}Activation{% endblock %}
{% block body %}
    {% if msg.success is defined %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-9 offset-lg-1 box-shadow-page pb-4">
                    <h1 class="col-12 text-center mb-5 police-text">Activation de votre compte</h1>
                    <p class="alert alert-success text-center">Votre compte est activé.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}