{% extends 'base.html.twig' %}

{% block title %} Contactez-nous {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="height col-12 col-sm-9 col-md-12 col-lg-10 offset-lg-1 box-shadow-page order-2 order-sm-1">
                <h1 class="text-center mb-3 mt-3">Contactez-nous</h1>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Laissez votre message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3 mt-3">Envoyer</button>
                </form>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab autem dicta ex, culpa officiis voluptatem! Explicabo, non excepturi fuga molestias asperiores adipisci eaque rerum quos ducimus. Animi, rerum facilis Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptatibus sunt fugit qui magnam cumque omnis dicta eaque commodi aut, vitae iure velit, reiciendis sapiente veritatis deserunt ea, a ducimus?</p>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
