{% extends 'base.html.twig' %}

{% block title %}Créer un sujet{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/prism.css') }}">
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 box-shadow-page page-trans">
      <h1 class="text-center text-light">Postez votre problème</h1>
      <div id="success"></div>
      <form action="{{ path('apiCreateSubject') }}" method="POST" id="form-subject">
        <div class="form-group mt-5 col-lg-6 p-0 col-sm-9">
            <label class="text-light text-height-x2" for="title" id="errorTitle">Titre : </label>
            <input class="form-control" type="text" id="title" name="title" placeholder="Ceci est un exemple de titre">
        </div>
        <div class="row mt-5">
          <div class="form-group col-lg-6 pr-0 col-sm-9">
            <label class="text-light text-height-x2" for="description" id="errorDescription">Description : </label>
            <input class="form-control" type="text" id="description" name="description" placeholder="Ceci est un exemple de description">
          </div>
          <div class="form-group col-lg-6">
            <label class="text-light text-height-x2" for="categories" id="errorCategories">Catégories : </label>
            <div id="categories">
              <button class="btn btn-secondary btn-category mb-1" value="html">html</button>
              <button class="btn btn-secondary btn-category mb-1" value="php">php</button>
              <button class="btn btn-secondary btn-category mb-1" value="css">css</button>
              <button class="btn btn-secondary btn-category mb-1" value="js">js</button>
              <button class="btn btn-secondary btn-category mb-1" value="jquery">jquery</button>
              <button class="btn btn-secondary btn-category mb-1" value="symfony">symfony</button>
              <button class="btn btn-secondary btn-category mb-1" value="bootstrap">bootstrap</button>
              <button class="btn btn-secondary btn-category mb-1" value="mySql">mySql</button>
            </div>
          </div>
        </div>
        <div class="form-group mt-4">
            <label class="text-light text-height-x2" for="content" id="errorContent">Contenu du sujet : <button type="button" class="btn btn-color" data-toggle="modal" data-target="#modalCode">Ajouter du code</button><button type="button" class="btn btn-color ml-2 mr-2"  data-toggle="modal" data-target="#modalStyle">Texte stylisé</button></label>
            <textarea class="form-control" id="content" id="content" name="content" rows="10" placeholder="Ecrivez ici le contenu de votre problème."></textarea>
        </div>
        <div class="form-group mt-4"><input class="btn btn_background" type="submit" id="form-subject" value="Postez"><span id="errorTraitement" class="pl-4"></span></div>
      </form>
      <div class="modal fade" id="modalCode" tabindex="-1" role="dialog" aria-labelledby="modalCodeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCodeLabel">Ajouter du code</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><label for="selected-language">Sélectionnez le langage du code à insérer : </label>
              <select name="selected" id="selected-language"></p>
                <option value="" selected>langage</option>
                <option value="html">html</option>
                <option value="js">js</option>
                <option value="css">css</option>
                <option value="php">php</option>
              </select>
              <p><label for="txt-code">Ecrivrez ici le code à insérer : </label></p>
              <textarea name="" id="txt-code" cols="60" rows="10" placeholder="exemple : <p>Bonjour</p>"></textarea>
              <div>
                  <pre><code id="simulation-code"> </code></pre>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-category mb-1" data-dismiss="modal">Fermer</button>
              <button id="valider" type="button" class="btn btn-info" data-dismiss="modal">Valider</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modalStyle" tabindex="-1" role="dialog" aria-labelledby="modalStyleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalStyleLabel">Ajouter du texte stylisé</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><label for="selected-style">Sélectionnez le type de style : </label>
              <select name="selected" id="selected-style"></p>
                <option value="" selected>Style</option>
                <option value="error">zone d'erreur</option>
                <option value="underline">zone soulignée</option>
                <option value="mark">zone surlignée</option>
                <option value="overline">zone rayée</option>
              </select>
              <p><label for="txt-style">Ecrivrez ici le texte à insérer : </label></p>
              <textarea name="" id="txt-style" cols="60" rows="10" placeholder="exemple : Ce texte sera souligné"></textarea>
              <div>
                  <pre><code id="simulation-style"> </code></pre>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-category mb-1" data-dismiss="modal">Fermer</button>
              <button id="valider-style" type="button" class="btn btn-info" data-dismiss="modal">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/prism.js') }}"></script>
<script src="{{ asset('js/createSubject.js') }}"></script>
{% endblock %}