{% extends 'base.html.twig' %}

{% block title %}Déconnexion{% endblock %}
{% block body %}
    
    <div class="col-xs-6 col-sm-3 col-lg-9 offset-lg-1 box-shadow-page pb-4">
        <h1 class="col-12 text-center mb-5">Déconnexion</h1>
        <p class="alert alert-success">Déconnexion réussie !</p>
    </div>

{% endblock %}