{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}
{% block body %}
        <div class="container-fluid">

                <div class="row">
                    <div class="col-12 text-center">
                        <img src="{{ asset('img/logov6.2.png') }}" alt="logo" width="350" height="350" class="m-auto">'
                    </div>
                </div>
                <div class="row">
                    <p class="col-md-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed ratione quidem dolorum quaerat recusandae at mollitia cupiditate delectus consequuntur aliquid velit nam voluptate accusantium dignissimos ipsam, facere facilis repudiandae!</p>
                    <p class="col-md-6 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed ratione quidem dolorum quaerat recusandae at mollitia cupiditate delectus consequuntur aliquid velit nam voluptate accusantium dignissimos ipsam, facere facilis repudiandae!</p>
                    <button class="btn btn-danger btn-lg m-auto" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-chevron-circle-down"></i> En savoir plus <i class="fas fa-chevron-circle-down"></i></button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body col-8 m-auto text-center">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum fuga dolores magni ad amet dolore nam error voluptatum? Reprehenderit eaque error omnis ullam explicabo inventore modi perspiciatis eum? Inventore, cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, qui ducimus. Neque commodi necessitatibus nesciunt et aut consequuntur in sequi earum delectus, minus fugit reiciendis tenetur dolor vel id voluptatem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores ut animi nemo debitis assumenda nisi minima quidem odit sit nulla eius soluta expedita non similique, perspiciatis distinctio sequi pariatur ipsam.
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
