{% extends 'base.html.twig' %}

{% block title %} Mansion legal {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="height col-12 col-sm-9 col-md-12 col-lg-10 offset-lg-1 box-shadow-page order-2 order-sm-1">
                <h1 class="text-center mb-3 mt-3">Mansion legale</h1>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ipsa ipsam, enim, esse officia saepe temporibus nisi illum nam eum exercitationem doloremque ex suscipit ratione hic fugit asperiores cumque numquam?
                    Beatae dolorem veritatis delectus debitis, voluptatum impedit provident eligendi ipsum harum necessitatibus, placeat sint eum sit? Voluptatibus velit aliquam corporis cum et vel vero tempore maiores recusandae facere, saepe itaque?
                    Quas numquam quisquam officiis dignissimos facere illo cupiditate rerum amet inventore deserunt doloremque obcaecati quam nulla aperiam veritatis, aut architecto in nostrum odit tempora reprehenderit mollitia. Eveniet tempore voluptates reiciendis?
                    Perferendis asperiores ex maxime, molestias at deserunt esse ullam ducimus in debitis vero repellendus? Culpa nam blanditiis similique, ad quia sed repellat voluptate? Rem nihil perspiciatis ut delectus, debitis reiciendis.
                    Voluptatibus dolores est et veritatis maxime impedit, exercitationem eaque repellat similique ab ipsum animi quaerat delectus veniam quia numquam tempora. Impedit numquam illum sit voluptatibus, voluptas eos eaque hic molestiae?
                    Hic, ipsum? Eveniet hic velit earum, maiores culpa impedit nulla voluptatum dignissimos ratione, beatae veritatis eos quia quod repudiandae dolorum cumque illum expedita enim, quidem vitae numquam error dolores sit.
                    Labore dolor reiciendis, iste accusantium consequatur commodi, impedit sapiente veritatis deleniti amet eligendi debitis ab aliquam officia voluptates in! Nobis modi dolorum odio facilis recusandae neque dolore. Dolor, eius numquam!
                    Voluptatem quod laudantium voluptas minus voluptate asperiores assumenda exercitationem nam blanditiis debitis? Repellendus numquam tempore ipsam! Assumenda dolorem cupiditate, natus rerum, ex praesentium est nobis asperiores quibusdam sint doloribus neque?
                    Magni necessitatibus exercitationem obcaecati atque cum corporis unde neque, ducimus accusantium consequuntur doloribus numquam quisquam quam sequi quibusdam repellat ut in recusandae. Inventore aspernatur soluta nemo rerum ad corporis corrupti.
                    Incidunt quis delectus ullam culpa eaque ea doloremque omnis doloribus ducimus distinctio, facilis voluptate aliquid voluptatibus ad dolore animi necessitatibus tempora molestias architecto quibusdam vitae eveniet veritatis placeat? Magni, corporis?</p>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
