{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %} {# visuel de la page d'inscription #}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-12 col-lg-9 offset-lg-1 pb-4">
            <h1 class="col-12 text-center mb-5 text-light police-text">Inscription</h1>
            <form id="register-form" method="POST" action="{{ path('apiRegister') }}"> {# formulaire ajax permettant de créer un compte, avec affichage des erreus s'il y en a. #}
                <div class="form-group m-auto col-lg-4 col-md-6 col-12">
                    <label class="col-12 pl-0 text-light police-text text-height-x2" for="register-form-email">Adresse Email : </label><span class="pl-4 police-text" id="emailError"></span>
                    <input type="email" class="form-control police-text" id="register-form-email" placeholder="jean@exemple.com" name="email">
                </div><br>
                <div class="form-group m-auto col-lg-4 col-md-6 col-12">
                    <label class="col-12 pl-0 text-light police-text text-height-x2" for="register-form-nickname">Nom d'utilisateur : </label><span class="pl-4 police-text" id="nicknameError"></span>
                    <input type="text" class="form-control police-text" id="register-form-nickname" placeholder="Jeans" name="nickname">
                </div><br>
                <div class="form-group m-auto col-lg-4 col-md-6 col-12">
                    <label class="col-12 pl-0 text-light police-text text-height-x2" for="register-form-password">Mot de passe : </label><span class="pl-4 police-text" id="passwordError"></span>
                    <input type="password" class="form-control police-text" id="register-form-password" placeholder="Mot de passe" name="password">
                </div><br>
                <div class="form-group m-auto col-lg-4 col-md-6 col-12">
                    <label class="col-12 pl-0 text-light police-text text-height-x2" for="register-form-password-comfirm">Comfirmation mot de passe : </label><span class="pl-4 police-text" id="passwordConfirmError"></span>
                    <input type="password" class="form-control police-text" id="register-form-password-comfirm" placeholder=" Comfirmation Mot de passe" name="passwordConfirm">
                </div><br>
                {{ recaptcha.Display()|raw }}<p class="form-group m-auto col-lg-4 col-md-6 col-12 police-text" id="recaptchaError"></p>
                <div class="row col-12">
                    <button type="submit" class="btn btn-color btn-lg m-auto police-text">S'inscrire</button>
                    <span id="divFailed" class="col-12 text-center"></span>
                </div>
            </form>
            <div class="text-center" id="formSuccess"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="{{ asset('js/register.js') }}"></script>
{% endblock %}