{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %} {# visuel de la page de mot de passe oublié afin d'en mettre un nouveau #}
    {% if msg.tokenDiff is not defined && msg.noUser is not defined %}
    <div class="col-xs-6 col-sm-3 col-lg-9 offset-lg-1 box-shadow-page pb-4">
        <h1 class="col-12 text-center mb-5 police-text">Nouveau mot de passe</h1>
    </div>
    <div class="PasswordChanged"></div>
    <form action="{{ path('apiResetPassword') }}" method="POST"> {# formulaire du nouveau mot de passe avec les erreurs #}
        <div class="form-group m-auto col-4">
            <div class="SamePassword"></div>
            <label class="col-12 pl-0 text-light" for="register-form-email">Nouveau mot de passe : <span class="pl-4" id="emailError"></span></label>
            <input type="password" class="form-control" name="new-pass">
        </div><br>
        <div class="form-group m-auto col-4">
            <label class="col-12 pl-0 text-light" for="register-form-email">Confirmation du mot de passe : <span class="pl-4" id="emailError"></span></label>
            <input type="password" class="form-control" name="confirm-pass">
        </div><br>
        <div class="row col-4 offset-4">
            <button type="submit" class="btn btn_background col-5 m-auto">Valider</button>
            <span id="divFailed" class="col-12 text-center"></span>
        </div>
    </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>var id = "{{ msg.ok }}"</script>
<script src="{{ asset('js/resetPassword.js') }}"></script>
{% endblock %}