{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    {% if msg.noUser is defined %}
        <p>Id pas correct</p>
    {% elseif msg.tokenDiff is defined %}
        <p>Token diff</p>
    {% else %}
        <form action="{{ path('apiResetPassword') }}" method="POST">
            <div class="form-group m-auto col-4">
                <label class="col-12 pl-0" for="register-form-email">Nouveau mot de passe<span class="pl-4" id="emailError"></span></label>
                <input type="password" class="form-control" name="new-pass">
            </div><br>
            <div class="form-group m-auto col-4">
                <label class="col-12 pl-0" for="register-form-email">Confirmation du mot de passe<span class="pl-4" id="emailError"></span></label>
                <input type="password" class="form-control" name="confirm-pass">
            </div><br>
            <div class="row col-4 offset-4">
                <button type="submit" class="btn btn_background col-5">Valider</button>
                <span id="divFailed" class="col-12 text-center"></span>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>var id = "{{ msg.ok }}"</script>
<script src="{{ asset('js/resetPassword.js') }}"></script>
{% endblock %}