{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}
<di class="container-fluid">
  <div class="row">
      <div class="col-12 text-center text-light">
          <h1>403</h1>
          <p style="font-size: 2rem;">Acces interdit</p>
          <a class="btn btn-color" role="button" href='{{ path('index') }}'>Retour a l'Acceuil</a>
    </div>
  </div>
</di>

{% endblock %}